In [ ]:
# Define a function in zoo.py
def hours():
    print('Open 9-5 daily')

In [ ]:
# Exercise 11.1: Import the zoo module and call its hours() function
# Import the zoo module
>>> import zoo
# Call the hours() function from the zoo module
>>> zoo.hours()
Open 9-5 daily

In [ ]:
# Exercise 11.2: Import the zoo module as 'menagerie' and call its hours() function
# Import the zoo module with alias 'menagerie'
>>> import zoo as menagerie
# Call the hours() function using the 'menagerie' alias
>>> menagerie.hours()
Open 9-5 daily

In [ ]:
#Exercise 16.8: use the sqlalchemy module to connect to the books.db SQLite database and select and print the title column from the book table in alphabetical order.
# Import necessary libraries
import sqlalchemy as db

In [ ]:
# Connect to the SQLite database using sqlalchemy
engine = db.create_engine('sqlite:///books.db')
connection = engine.connect()

In [ ]:
# Reflect the database tables
metadata = db.MetaData()
books = db.Table('books', metadata, autoload=True, autoload_with=engine)

In [ ]:
# Create a query to select the title column from the book table in alphabetical order
query = db.select([books.columns.title]).order_by(books.columns.title)

In [ ]:
# Execute the query and fetch all results
results = connection.execute(query).fetchall()

In [ ]:
# Print the titles in alphabetical order
for result in results:
    print(result[0])

In [ ]:
# Close the connection
connection.close()